@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>No data has been shared or collected from your browser or PC.</p>
<p>We have not even added any cookies to your browser.</p>
<p>You have no data here for us to secure.</p>
<
